li{
    font-size: 1.4em;
}
.btn-outline-danger{
    margin-left: 5px;
}

.carousel{
    margin-bottom: 100px;
}

.carousel-item{
    /*max-width: 75%;*/
    max-height:700px;
    margin: 0 auto;
}

.cardcontainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    margin:5%;
    text-align: center;
}

.container {
    margin-bottom: 100px;
}


#content {
    width: 920px;
    min-height: 500px;
    padding: 0 30px;
}

/** {border:1px solid red}*/


th{
    padding: 20px;
}