html,
body {
  height: 100%;
}

body {
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    background-color: #f7fafb;
    color: #1d252b;
}

h1 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    font-weight: bold !important;
}

h2 {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

h5 {
    font-size: 11px;
  font-family: 'Lato', sans-serif;
}

li{
    font-size: 1.4em;
}

.align-left {
    float: left;
}
.align-right {
    float: right;
}

.clear-float {
    clear: both;
}

.btn-navbar{
    margin-left: 5px;
    background-color: rgba(130,61,237,1);
    color: white !important;
}

.btn-navbar:hover {
    background-color: #542799 !important;
}

.navbar {
    padding-right: 50px;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(130,61,237,0.2);
    z-index: 999;
}

.nav-item {
    margin-right: 10px;
}

.nav-item:hover a {
    color: #823ded !important;
}

.nav-link {
    font-size: 17px;
    color: #1d252b !important;
}

.footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 100px; /* Set the fixed height of the footer here */
  line-height: 100px; /* Vertically center the text there */
  background: rgb(52,58,64);
  color: white;
}
