li{
    font-size: 1.4em;
}
.btn-outline-danger{
    margin-left: 5px;
}

.carousel{
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

}
.carousel-item{
    /*max-width: 75%;*/
    max-height:600px;
    margin: 0 auto;
}

.cardcontainer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1{
    text-align: center;
}


/* Start of Footer CSS */
.container-fluid{
    background: rgb(52,58,64);
}

hr{
    border: 1px solid #ccc;

}

.footer-page{
    text-align: center;
    color: white;
}

.card {
    margin: 50px;
    padding: 20px;
    text-align: center
}



/* End of Footer CSS */
